body{
  height: 100vh;
}
form.signup,
form.login {
  margin-top: 50px;
}
.navbar {
  background-color: #173F49 !important;
  padding-bottom: 2rem;
}
.navbar-brand{
  font-family: storybook;
  color: white !important;
  font-size: 28px;
  margin-top: 15px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 29px;
  margin-right: 67px;
  margin-top: 29px;
}
h1{
  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #173F49 ;
  font-size: 52px;
}
h3{
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #173F49 ;
  font-size: 28px;
}
h4{
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #173F49 ;
  font-size: 20px;
}
h5{
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #173F49 ;
  font-size: 20px;
}
p{
  font-family: futura-pt,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #173F49;
}
footer{
  height: 3rem;
  background-color: #173F49;
  margin-top: 2rem;
}
.location1{
  display: none;
}
.header {
  display: flex;
}
.title{
  flex: 50%;
}
.user-modal{
  border: #173F49 1px solid;
}
label{
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #173F49;
}
form, .modal-title{
  margin: 10px;
}
.btn{
  background-color: #173F49 !important;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.btn:hover{
  background-color: #0D2227;
}
.user-modal{
  display: none;
}